[submodule "w1/w1d2"]
	path = w1/w1d2
	url = https://github.com/rismay/w1d2
[submodule "w1/w1d3_monterroza_peguero"]
	path = w1/w1d3_monterroza_peguero
	url = https://github.com/rismay/w1d3_monterroza_peguero
[submodule "w1/w1d4_monterroza_weon"]
	path = w1/w1d4_monterroza_weon
	url = https://github.com/rismay/w1d4_monterroza_weon
[submodule "w1/w1d5_tic_tac_toe_ai"]
	path = w1/w1d5_tic_tac_toe_ai
	url = https://github.com/rismay/w1d5_tic_tac_toe_ai.git
[submodule "w2/w2d1_minesweeper"]
	path = w2/w2d1_minesweeper
	url = https://github.com/rismay/w2d1_minesweeper
[submodule "w2/w2d2_d3_chess"]
	path = w2/w2d2_d3_chess
	url = https://github.com/rismay/w2d2_d3_chess
[submodule "w2/w2d4_checkers"]
	path = w2/w2d4_checkers
	url = https://github.com/rismay/w2d4_checkers
[submodule "w2/w2d5_poker"]
	path = w2/w2d5_poker
	url = https://github.com/rismay/w2d5_poker
[submodule "w3/w3d2_questions"]
	path = w3/w3d2_questions
	url = https://github.com/rismay/w3d2_questions
[submodule "w3/w3d3_url"]
	path = w3/w3d3_url
	url = https://github.com/rismay/w3d3_url.git
[submodule "w3/w3d4_polling"]
	path = w3/w3d4_polling
	url = https://github.com/rismay/w3d4_polling.git
